{% extends 'index.html' %}
{% load static %}

{% block content %}
<br><br>

<div class="container">
  <div class="box">
    <div class="columns is-flex is-justify-content-center">
      <div class="column is-8">
        <form action="{% url 'search_result' %}"  method="GET" class="is-flex">
          <input type="search" name="search" class="input">
          <button class="button is-danger ">Искать</button>
        </form>
    
      </div>
    </div>
  </div>
</div>

<br><br>

<h1 class="title  has-text-centered has-text-danger is-1">Hot news !!!!</h1>
<hr>
<div class="columns is-flex is-justify-content-space-around">
  {% for posts in popular %}
  <div class="column is-2">
    <a href="{{posts.get_absolute_url}}">
    <div class="card ">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ posts.image.url }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          
          <div class="media-content">
            <p class="title is-4">{{posts.title}}</p>
            <br>
          </div>
        </div>
    
        <div class="content">
          <p>{{posts.description}}</p>
          <br>
          <time datetime="">{{posts.date|date:"j D F, Y"}}
          </time>
        </div>
      </div>
    </div>
  </a>
  </div>
  {% endfor%}
  

  
   
</div>

<br><br>



<h2 class="title has-text-centered">Yangiliklar</h2>
<hr>
<br><br>

<div class="columns is-flex is-justify-content-space-around">
  {% for posts in post %}
  <div class="column is-2">
    <a href="{{posts.get_absolute_url}}">
    <div class="card ">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="{{ posts.image.url }}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          
          <div class="media-content">
            <p class="title is-4">{{posts.title}}</p>
          </div>
        </div>
    
        <div class="content">
          <p>{{posts.description}}</p>
          <br>
          <time datetime="">{{posts.date|date:"j D F, Y"}}
          </time>
        </div>
      </div>
    </div>
  </a>
  </div>
  {% endfor%}
  

  
   
</div>




{% endblock%}




