{% extends 'index.html' %}
{% load static %}

{% block content %}


<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <label for="">{{form.username.label}}</label>
    <span>{{form.username}}</span>
    <span>{{form.email}}</span>
    <span >{{form.password1}}</span>
    <span >{{form.password2}}</span>
    <button>Ro`yhatdan o`tish</button>
    <button><a href="">Kirish</button></a>
    <button>
        <a href="{% url 'index' %}">
            Asosiy sahifa
        </a>
    </button>

</form>


{% endblock content %}