{% extends 'index.html' %}
{% load static %}

{% block content %}


<div class="columns is-flex is-justify-content-space-around">
    {% for item in category.categories.all %}
      <div class="column is-2">
        <a href="{{item.get_absolute_url}}">
          <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{item.image.url}}" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{ item.title}}</p>
                  </div>
                </div>
            
                <div class="content">
                  <p>{{ item.description}}</p>
                  <br>
                  <time datetime="">{{ item.date | date:"j D F, Y"}}</time>
                </div>
              </div>
            </div>
          </a>
         </div>
         {% endfor %}
  
  </div>



{% endblock content %}
