{% extends 'index.html' %}
{% load static %}

{% block content %}


<br>
<br>

<div class="columns is-flex is-justify-content-space-around">
    <div class="column is-6">

        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ news.image.url}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ news.title}}</p>
                </div>
              </div>
          
              <div class="content">
                <p>{{ news.description}}</p>
                <br>
                <time datetime="">{{ news.date | date:"j D F, Y"}}</time>
              </div>
            </div>
          </div>
       </div>


</div>

{% endblock %}