{% extends 'index.html' %}
{% block content %}

<div class="section">
    <div class="conteiner">
        <div class="box">
            <div class="columns">
                {% for post in search_obj %}
    <div class="column is-2">

        <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ post.image.url}}" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ post.title}}</p>
                </div>
              </div>
          
              <div class="content">
                <p>{{ post.description}}</p>
                <br>
                <time datetime="">{{ post.date | date:"j D F, Y"}}</time>
              </div>
            </div>
          </div>
       </div>
       {% endfor %}
            </div>
        </div>
    </div>
</div>




{% endblock content %}